<!DOCTYPE html>
<html lang="vi">
	<%- include('../layout/head') %>

	<body>

		<div id="hero-banner-container">
			<img src="assets/img/banner1.jpg" alt="Banner" class="hero-image active" id="hero-img-1">
			<img src="assets/img/banner2.jpg" alt="Banner" class="hero-image" id="hero-img-2">				
			<div class="banner-overlay"></div>
		</div>

		<%- include('../layout/header') %>

		<main>

            <% if (!videos || videos.length === 0) { %>
                <p>Chưa có video nào.</p>
            <% } else { %>

                <% videos.forEach(video => { %>

                    <div class="video-card">

                        <a href="/video/<%= video.title %>">

                            <img 
                                src="<%= video.thumbnailUrl %>" 
                                alt="<%= video.title %>" 
                                class="video-thumbnail"
                            >

                            <h3 class="video-title">
                                <%= video.title %>
                            </h3>

                        </a>

                    </div>

                <% }) %>

            <% } %>

        </main>

		<script src="/assets/script/home.js"></script>
	</body>
</html>